apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-api
  labels:
    app: todo-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-api
  template:
    metadata:
      labels:
        app: todo-api
    spec:
      containers:
        - name: todo-api
          image: kirnik55/todolist:latest
          imagePullPolicy: Always
          env:
            - name: MongoDB__ConnectionString
              value: "mongodb://mongo:27017"
            - name: MongoDB__Database
              value: "todoDb"
          ports:
            - containerPort: 8080

---
apiVersion: v1
kind: Service
metadata:
  name: todo-api-service
spec:
  selector:
    app: todo-api
  type: NodePort
  ports:
    - port: 80
      targetPort: 8080
      nodePort: 30080
